In [137]:
import pandas as pd

In [138]:
df = pd.read_excel('CTAS_BRYAN.xlsx')

In [139]:
df_87_88 = df[df['NUM_DIAS_CALPRO'].isin([87, 88])]

#### Determinar las posiciones de los códigos 88 y 87

In [140]:
df_resultado = df_87_88[['NUM_CTA_INT', 'NUM_DIAS_CALPRO']].copy()
df_resultado['INDEX'] = df_87_88.index + 2

In [141]:
df_resultado.index = df_resultado.index.map('{:.0f}'.format)

In [142]:
df_resultado

           NUM_CTA_INT  NUM_DIAS_CALPRO  INDEX
14   30000003088526304               87     16
15   30000003088526304               88     17
51   30000003088526304               87     53
52   30000003088526304               88     54
68   30000003088526304               87     70
..                 ...              ...    ...
895  30000003096190604               88    897
910  30000003096190604               87    912
911  30000003096190604               87    913
912  30000003096190604               88    914
913  30000003096190604               88    915

[156 rows x 3 columns]

#### Contar el numero de 88 y 87 por cuentas

In [143]:
conteo_por_cuenta = df_87_88.groupby(['NUM_CTA_INT', 'NUM_DIAS_CALPRO']).size().unstack(fill_value=0)

In [144]:
conteo_por_cuenta.index = conteo_por_cuenta.index.map('{:.0f}'.format)

In [145]:
conteo_por_cuenta

NUM_DIAS_CALPRO    87  88
NUM_CTA_INT
30000003088526304  35  34
30000003096190604  44  43

In [146]:
for cuenta in conteo_por_cuenta.index:
    if conteo_por_cuenta.at[cuenta, 87] != conteo_por_cuenta.at[cuenta, 88]:
        print(f"Cuenta {cuenta}: INICIA LOGICA DE CUADRE")
    else:
        print(f"Cuenta {cuenta}: CUENTA CUADRADA")

Cuenta 30000003088526304: INICIA LOGICA DE CUADRE
Cuenta 30000003096190604: INICIA LOGICA DE CUADRE